body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Budget Manager */

.BudgetManager {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background: linear-gradient(135deg, #00b894 0%, #2d3436 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    width: 100%;
    margin: 20px auto;
    height: 30vh;
}

.BudgetManager h1 {
margin-bottom: 5px;
color: white;
}

.budget {
    display: flex;
    justify-content: space-between;
}

.budgetLimitDescription {
    margin-bottom: 15px;
    display: flex;
    text-align: center;
    color: white;
    font-size: 20px;
}

.budgetLabel {
margin-top: 5px;
margin-right: 25px;
color: white;
font-size: 20px;
}

.budgetInput {
padding: 10px;
margin-bottom: 20px;
border: none;
border-radius: 5px;
width: 200px;
}

/* @media (max-width: 768px) {
    .BudgetManager {
        width: 30%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .BudgetManager {
        width: 35%;
    }
}

@media (min-width: 1025px) {
    .BudgetManager {
        width: 40%;
    }
} */

/* Data Expenses */
.dataExpenses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

@media (max-width: 768px) {
    .dataExpenses {
        width: 30%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .dataExpenses {
        width: 35%;
    }
}

@media (min-width: 1025px) {
    .dataExpenses {
        width: 40%;
    }
}

.dataExpenses h1 {
    margin-bottom: 20px;
    color: #2d3436;
}

.categoryFilter {
    margin-bottom: 20px;
}

.categoryFilter label {
    margin-right: 10px;
}

.categoryFilter select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.dataExpenses table th, .dataExpenses table td {
    text-align: center;
    font-size: 20px;
}
.ManageButtons {
    display: flex;
    justify-content: center;
}

.dataExpenses button {
    padding: 12px 24px;
    margin-left: 5px;
    width: 100px;
    border-radius: 25px;
    font-size: 15px;

}
.RemoveButton {
    border: none;
    background-color: #e74c3c;
    color: white;
    cursor: pointer;
}
.EditButton {
    border: none;
    background-color: #00b894;
    color: white;
    cursor: pointer;
}

.RemoveButton:hover {
    background-color: #c0392b;
}
.EditButton:hover {
    background-color: #019875;
}

.dataExpenses table {
    width: 100%;
    border-collapse: collapse;
}

.dataExpenses th, .dataExpenses td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.dataExpenses th {
    background-color: #f2f2f2;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    padding: 12px 24px;
    margin: 0 5px;
    border: none;
    border-radius: 25px;
    background-color: #00b894;
    color: white;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination span {
    margin: 0 10px;
}